<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script type="module" src="../dist/speciality.js"></script>
    <title>Specialties</title>
</head>
<body onload="mainSpecialties()">
    <header class="header-go-back">
        <a href="../index.html"><span></span></a>
    </header>
    <main class="main-specialties">
        <h2>Specialties</h2>
        <div class="main-specialties-section">
            <section class="specialties-list" id="specialties-list"></section>
            <section class="specialties-add">
                <button id="createButton">Add new speciality</button>
                <section class="display-none create-speciality">
                    <h3>Add a new speciality:</h3>
                    <form id="formCreate" method="POST" class="form-create-speciality">
                        <ul>
                            <li>
                                <label for="name">*Enter speciality name: </label>
                                <input type="text" id="name" name="name" required autocomplete="off">
                            </li>
                            <li>
                                <label for="physician">*Enter physician in charge: </label>
                                <input type="physician" id="physician" name="physician" autocomplete="off">
                            </li>
                            <li>
                                <button type="submit" id="createSpeciality">SUBMIT</button>
                                <button type="reset" id="reset">RESET</button>
                            </li>
                        </ul>
                        <p><i>*field is required</i></p>
                    </form>
                    <section id="messageCreate" class="messageCreate"></section>
                </section>
            </section>
        </div>
    </main>
</body>
</html>