<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script type="module" src="../dist/speciality.js"></script>
    <title>StClaire Hospital</title>
</head>
<body onload="mainSpeciality()">
    <header class="header-go-back">
        <a href="../index.html"><span></span></a>
    </header>
    <main>
        <section class="section-go-back">
            <a href="./specialties.html"><span><p>Return</p></span></a>  
        </section>
        <section class="speciality">
            <h2>Speciality detail:</h2>
            <section id="speciality"></section>
            <section class="speciality-actions">
                <a href="" id="updatePage">Update</a>
                <a href="" id="deleteSpeciality" onclick="">Delete</a>
            </section>
            <section id="deletedSpeciality"></section>
        </section>
    </main>
</body>
</html>