<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <script type="module" src="../dist/speciality.js"></script>
    <title>StClaire Hospital</title>
</head>
<body onload="mainUpdate()">
    <header class="header-go-back">
        <a href="../index.html"><span></span></a>
    </header>
    <main>
        <section class="section-go-back">
            <a href="./specialties.html"><span><p>Return</p></span></a>  
        </section>
        <section class="update-speciality">
            <h3>Update Speciality:</h3>
            <form id="formUpdate" method="PUT" class="form-update-speciality">
                <ul>
                    <li>
                        <label for="name">Edit speciality name: </label>
                        <input type="text" id="name" name="name" required autocomplete="off">
                    </li>
                    <li>
                        <label for="physician">Edit physician in charge: </label>
                        <input type="physician" id="physician" name="physician" autocomplete="off">
                    </li>
                    <li>
                        <button type="submit" id="submit">SUBMIT</button>
                        <button type="reset" id="reset">RESET</button>
                    </li>
                </ul>
            </form>
            <p id="messageUpdate" class="messageUpdate"></p>
        </section>
    </main>
</body>
</html>